USE [StudentInformation]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semester](
	[SemID] [int] IDENTITY(1,1) NOT NULL,
	[SemName] [varchar](50) NOT NULL,
	[StartDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[SemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Semester] ON
INSERT [dbo].[Semester] ([SemID], [SemName], [StartDate]) VALUES (1, N'Spring2020', CAST(0xAB540000 AS SmallDateTime))
INSERT [dbo].[Semester] ([SemID], [SemName], [StartDate]) VALUES (2, N'Summer2020', CAST(0xABEB0000 AS SmallDateTime))
INSERT [dbo].[Semester] ([SemID], [SemName], [StartDate]) VALUES (3, N'Fall2020', CAST(0xAC290000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Semester] OFF
/****** Object:  Table [dbo].[Prog]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prog](
	[ProgID] [smallint] IDENTITY(1,1) NOT NULL,
	[ProgName] [varchar](50) NOT NULL,
	[CreditHrs] [smallint] NOT NULL,
 CONSTRAINT [PK_Prog] PRIMARY KEY CLUSTERED 
(
	[ProgID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Prog] ON
INSERT [dbo].[Prog] ([ProgID], [ProgName], [CreditHrs]) VALUES (1, N'BSCS', 140)
INSERT [dbo].[Prog] ([ProgID], [ProgName], [CreditHrs]) VALUES (2, N'BSIT', 140)
INSERT [dbo].[Prog] ([ProgID], [ProgName], [CreditHrs]) VALUES (3, N'MSCS', 36)
SET IDENTITY_INSERT [dbo].[Prog] OFF
/****** Object:  Table [dbo].[Teacher]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherName] [varchar](50) NOT NULL,
	[TeacherDOB] [smalldatetime] NOT NULL,
	[TeacherDOJ] [smalldatetime] NOT NULL,
	[TeacherGender] [varchar](10) NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[BasicSalary] [money] NULL,
	[HouseRent] [money] NULL,
	[Job] [varchar](50) NULL,
	[Manager] [int] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName], [TeacherDOB], [TeacherDOJ], [TeacherGender], [Status], [BasicSalary], [HouseRent], [Job], [Manager]) VALUES (2, N'Dr. Ahmed', CAST(0x72410000 AS SmallDateTime), CAST(0x947F0000 AS SmallDateTime), N'Male', N'Permanent', 80000.0000, 45000.0000, N'S. Lecturer', 5)
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName], [TeacherDOB], [TeacherDOJ], [TeacherGender], [Status], [BasicSalary], [HouseRent], [Job], [Manager]) VALUES (3, N'Dr. Khalid', CAST(0x64840000 AS SmallDateTime), CAST(0x8CD90000 AS SmallDateTime), N'Male', N'Visiting', 100000.0000, NULL, N'J. Assist Prof', 5)
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName], [TeacherDOB], [TeacherDOJ], [TeacherGender], [Status], [BasicSalary], [HouseRent], [Job], [Manager]) VALUES (4, N'Dr. Iman', CAST(0x7A600000 AS SmallDateTime), CAST(0xA94E0000 AS SmallDateTime), N'Female', N'Visiting', 100000.0000, NULL, N'J. Lecturer', 6)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
/****** Object:  Table [dbo].[EvalType]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EvalType](
	[EvalID] [smallint] NOT NULL,
	[EvalName] [varchar](50) NOT NULL,
	[EvalMarks] [int] NOT NULL,
	[ProgID] [smallint] NOT NULL,
 CONSTRAINT [PK_EvalType] PRIMARY KEY CLUSTERED 
(
	[EvalID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EvalType] ([EvalID], [EvalName], [EvalMarks], [ProgID]) VALUES (1, N'Assignment', 20, 1)
INSERT [dbo].[EvalType] ([EvalID], [EvalName], [EvalMarks], [ProgID]) VALUES (2, N'Quiz', 10, 1)
INSERT [dbo].[EvalType] ([EvalID], [EvalName], [EvalMarks], [ProgID]) VALUES (3, N'Mid', 20, 1)
/****** Object:  Table [dbo].[Course]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](50) NOT NULL,
	[CreditHrsTheory] [tinyint] NOT NULL,
	[CreditHrsLab] [tinyint] NOT NULL,
	[ProgID] [smallint] NOT NULL,
	[Semester] [smallint] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON
INSERT [dbo].[Course] ([CourseID], [CourseName], [CreditHrsTheory], [CreditHrsLab], [ProgID], [Semester]) VALUES (1, N'Calculus - 1', 3, 0, 1, 1)
INSERT [dbo].[Course] ([CourseID], [CourseName], [CreditHrsTheory], [CreditHrsLab], [ProgID], [Semester]) VALUES (2, N'Business Communications', 2, 0, 1, 1)
INSERT [dbo].[Course] ([CourseID], [CourseName], [CreditHrsTheory], [CreditHrsLab], [ProgID], [Semester]) VALUES (3, N'Introduction To Computing', 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Course] OFF
/****** Object:  Table [dbo].[Std]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Std](
	[StdID] [int] IDENTITY(1,1) NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDOB] [smalldatetime] NOT NULL,
	[FirstSem] [int] NULL,
	[StdPhone] [char](15) NULL,
	[StdAddress] [varchar](50) NULL,
	[StdEmail] [varchar](50) NULL,
	[GuardianContact] [char](15) NULL,
	[ProgID] [smallint] NOT NULL,
 CONSTRAINT [PK_Std] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Std] ON
INSERT [dbo].[Std] ([StdID], [StdName], [StdDOB], [FirstSem], [StdPhone], [StdAddress], [StdEmail], [GuardianContact], [ProgID]) VALUES (1, N'Bisma', CAST(0x8ECC0000 AS SmallDateTime), 1, N'03012345678    ', NULL, NULL, NULL, 1)
INSERT [dbo].[Std] ([StdID], [StdName], [StdDOB], [FirstSem], [StdPhone], [StdAddress], [StdEmail], [GuardianContact], [ProgID]) VALUES (2, N'Sadia', CAST(0x901A0000 AS SmallDateTime), 1, N'03112345678    ', NULL, NULL, NULL, 1)
INSERT [dbo].[Std] ([StdID], [StdName], [StdDOB], [FirstSem], [StdPhone], [StdAddress], [StdEmail], [GuardianContact], [ProgID]) VALUES (3, N'Sarah', CAST(0x90590000 AS SmallDateTime), 3, N'03023456789    ', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Std] OFF
/****** Object:  Table [dbo].[StdCourseTeacher]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StdCourseTeacher](
	[StdID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[SemID] [int] NOT NULL,
 CONSTRAINT [PK_StdCourseTeacher_1] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC,
	[CourseID] ASC,
	[TeacherID] ASC,
	[SemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[StdCourseTeacher] ([StdID], [CourseID], [TeacherID], [SemID]) VALUES (1, 9, 7, 6)
INSERT [dbo].[StdCourseTeacher] ([StdID], [CourseID], [TeacherID], [SemID]) VALUES (1, 10, 7, 6)
INSERT [dbo].[StdCourseTeacher] ([StdID], [CourseID], [TeacherID], [SemID]) VALUES (1, 11, 2, 6)
/****** Object:  Table [dbo].[Exam]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[EvalID] [smallint] NOT NULL,
	[Topic] [varchar](50) NOT NULL,
	[MaxMarks] [smallint] NOT NULL,
	[SemID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Exam] ON
INSERT [dbo].[Exam] ([ExamID], [EvalID], [Topic], [MaxMarks], [SemID], [CourseID], [TeacherID]) VALUES (1, 3, N'Mid-Term', 20, 6, 1, 3)
INSERT [dbo].[Exam] ([ExamID], [EvalID], [Topic], [MaxMarks], [SemID], [CourseID], [TeacherID]) VALUES (2, 3, N'Mid-Term', 20, 6, 2, 4)
INSERT [dbo].[Exam] ([ExamID], [EvalID], [Topic], [MaxMarks], [SemID], [CourseID], [TeacherID]) VALUES (3, 3, N'Mid-Term', 20, 6, 3, 7)
SET IDENTITY_INSERT [dbo].[Exam] OFF
/****** Object:  Table [dbo].[StdMarks]    Script Date: 10/21/2021 17:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StdMarks](
	[StdID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[MarksObtained] [smallint] NOT NULL,
 CONSTRAINT [PK_StdMarks] PRIMARY KEY CLUSTERED 
(
	[StdID] ASC,
	[ExamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_StdMarks_MarksObtained]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdMarks] ADD  CONSTRAINT [DF_StdMarks_MarksObtained]  DEFAULT ((0)) FOR [MarksObtained]
GO
/****** Object:  Default [DF_Teacher_BasicSalary]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [DF_Teacher_BasicSalary]  DEFAULT ((0)) FOR [BasicSalary]
GO
/****** Object:  ForeignKey [FK_Course_Prog]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Prog] FOREIGN KEY([ProgID])
REFERENCES [dbo].[Prog] ([ProgID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Prog]
GO
/****** Object:  ForeignKey [FK_EvalType_Prog]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[EvalType]  WITH CHECK ADD  CONSTRAINT [FK_EvalType_Prog] FOREIGN KEY([ProgID])
REFERENCES [dbo].[Prog] ([ProgID])
GO
ALTER TABLE [dbo].[EvalType] CHECK CONSTRAINT [FK_EvalType_Prog]
GO
/****** Object:  ForeignKey [FK_Exam_Course]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Course]
GO
/****** Object:  ForeignKey [FK_Exam_Semester]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Semester] FOREIGN KEY([SemID])
REFERENCES [dbo].[Semester] ([SemID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Semester]
GO
/****** Object:  ForeignKey [FK_Exam_Teacher]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Teacher]
GO
/****** Object:  ForeignKey [FK_Std_Prog]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[Std]  WITH CHECK ADD  CONSTRAINT [FK_Std_Prog] FOREIGN KEY([ProgID])
REFERENCES [dbo].[Prog] ([ProgID])
GO
ALTER TABLE [dbo].[Std] CHECK CONSTRAINT [FK_Std_Prog]
GO
/****** Object:  ForeignKey [FK_StdCourseTeacher_Course]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdCourseTeacher]  WITH CHECK ADD  CONSTRAINT [FK_StdCourseTeacher_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[StdCourseTeacher] CHECK CONSTRAINT [FK_StdCourseTeacher_Course]
GO
/****** Object:  ForeignKey [FK_StdCourseTeacher_Semester]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdCourseTeacher]  WITH CHECK ADD  CONSTRAINT [FK_StdCourseTeacher_Semester] FOREIGN KEY([SemID])
REFERENCES [dbo].[Semester] ([SemID])
GO
ALTER TABLE [dbo].[StdCourseTeacher] CHECK CONSTRAINT [FK_StdCourseTeacher_Semester]
GO
/****** Object:  ForeignKey [FK_StdCourseTeacher_Std]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdCourseTeacher]  WITH CHECK ADD  CONSTRAINT [FK_StdCourseTeacher_Std] FOREIGN KEY([StdID])
REFERENCES [dbo].[Std] ([StdID])
GO
ALTER TABLE [dbo].[StdCourseTeacher] CHECK CONSTRAINT [FK_StdCourseTeacher_Std]
GO
/****** Object:  ForeignKey [FK_StdCourseTeacher_Teacher]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdCourseTeacher]  WITH CHECK ADD  CONSTRAINT [FK_StdCourseTeacher_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[StdCourseTeacher] CHECK CONSTRAINT [FK_StdCourseTeacher_Teacher]
GO
/****** Object:  ForeignKey [FK_StdMarks_Exam]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdMarks]  WITH CHECK ADD  CONSTRAINT [FK_StdMarks_Exam] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exam] ([ExamID])
GO
ALTER TABLE [dbo].[StdMarks] CHECK CONSTRAINT [FK_StdMarks_Exam]
GO
/****** Object:  ForeignKey [FK_StdMarks_Std]    Script Date: 10/21/2021 17:25:21 ******/
ALTER TABLE [dbo].[StdMarks]  WITH CHECK ADD  CONSTRAINT [FK_StdMarks_Std] FOREIGN KEY([StdID])
REFERENCES [dbo].[Std] ([StdID])
GO
ALTER TABLE [dbo].[StdMarks] CHECK CONSTRAINT [FK_StdMarks_Std]
GO
