database-management-systems/BAHRIA-DBMS/BAHRIA-DBMS.sln
database-management-systems/BAHRIA-DBMS/.vs/BAHRIA-DBMS/v17/.suo
.idea/Bahria-University-Labs.iml
.idea/Bahria-University-Labs2.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.idea/Bahria-University-Labs.iml
.idea/Bahria-University-Labs2.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Bahria-University-Labs.iml
.idea/Bahria-University-Labs2.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Bahria-University-Labs.iml
.idea/Bahria-University-Labs2.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
/database-management-systems/.idea
/database-management-systems/.idea
/database-management-systems/.idea
/database-management-systems
/database-management-systems/.idea
/database-management-systems/.idea
/database-management-systems
data-structures-and-algorithms/final/finals.cpp
artificial-intelligence/lab-8/.env
artificial-intelligence/leaf-scan/plant_disease_model.keras
.idea/Bahria-University-Labs.iml.devcontainer/

.venv*
venv*
/datasets/rentals.csv
/datasets/.complete/datasets/sergionefedov/dubai-real-estate-sales-and-rentals-20202026/2/rentals.csv.complete
/datasets/Building_Permits.csv
/datasets/Crime_Data_from_2020_to_Present.csv
/datasets/hospital data analysis.csv
/datasets/.complete/
/datasets/North America Restaurants.csv
/datasets/ks-projects-201612.csv
/datasets/2015.csv
/datasets/2016.csv
/datasets/2017.csv
/datasets/2018.csv
/datasets/2019.csv
/datasets/netflix_titles.csv
/datasets/StudentsPerformance.csv
/datasets/Titanic-Dataset.csv
